<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <ul>
      <% @beacon.errors.each do |attribute,message| %>
        <% if attribute.to_s == 'major_region' %>
          <li>Combinación de major y minor ya existente</li>
        <% else %>
          <li>La descripción <%= message %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">

    <div class="col-md-5">
      <%= f.label :nombre %>
      <%= f.text_field :name, autofocus: true, class:'form-control input-medium'%>
    </div>
    <div class="col-md-7">
      <br></br>
      <%= f.label :major_id %>
      <%= f.collection_select :major_id, MajorRegion.all, :major_id, :major_id%>

      <%= f.label :minor_id %>
      <%= f.collection_select :minor_id, MinorRegion.all, :minor_id, :minor_id%>
    </div>
    <div class="col-md-12">
      <%= f.label :Descripcion %>
      <%= f.text_area :description, class:'form-control input-medium', rows:3 %>
      <br></br>
      <%= f.submit "Aceptar", class:'btn btn-primary'%>
    </div>
    
  </div>
<% end %>
