<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <ul>
      <% @beacon.errors.each do |attribute,message| %>
        <% if attribute.to_s == 'major_region' %>
          <li>Combinación de major y minor ya existente</li>
        <% else %>
          <li>La descripción <%= message %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">

    <%= f.label :major_id %>
    <%= f.collection_select :major_id, MajorRegion.all, :major_id, :major_id%>

    <%= f.label :minor_id %>
    <%= f.collection_select :minor_id, MinorRegion.all, :minor_id, :minor_id%>

    <br></br>

    <%= f.label :Descripcion %>
    <%= f.text_area :description, autofocus: true, class:'form-control input-medium', rows:3 %>

    <%= f.submit "Aceptar", class:'btn btn-primary'%>
  </div>
<% end %>
