<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% @beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">

    <%= f.label :major_id %>
    <%= f.collection_select :major_id, MajorRegion.all, :major_id, :major_id%>

    <%= f.label :minor_id %>
    <%= f.collection_select :minor_id, MinorRegion.all, :minor_id, :minor_id%>

    <br></br>

    <%= f.label :Description %>
    <%= f.text_area :description, autofocus: true, class:'form-control input-medium', rows:3 %>

    <%= f.submit "Submit", class:'btn btn-primary'%>
  </div>
<% end %>
