<div class="col-md-8 col-sm-8">

  <h1>Lista de Beacons</h1>

  <table id="datatable" class="table datatable table-condensed">
    <thead>
      <tr>
        <td>ID</td>
        <td>Major Region</td>
        <td>Minor Region</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @beacons.each do |beacon| %>
        <tr>
          <td><%= beacon.id%></td>
          <td><%= beacon.major_id %></td>
          <td><%= beacon.minor_id %></td>
          <td><%= link_to 'Ver', beacon ,class:'btn btn-default'%></td>
          <td><%= link_to 'Editar', edit_beacon_path(beacon), class:'btn btn-primary'%></td>
          <td><%= link_to 'Eliminar', beacon, method: :delete, data: { confirm: 'Está seguro?' },class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>