<div class="col-md-8 col-sm-8">
  <p id="notice"><%= notice %></p>

  <h1>Listing Beacons</h1>

  <table id="datatable" class="table datatable table-condensed">
    <thead>
      <tr>
        <td>ID</td>
        <td>Major Region</td>
        <td>Minor Region</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @beacons.each do |beacon| %>
        <tr>
          <td><%= beacon.id%></td>
          <td><%= beacon.major_id %></td>
          <td><%= beacon.minor_id %></td>
          <td><%= link_to 'Show', beacon ,class:'btn btn-default'%></td>
          <td><%= link_to 'Edit', edit_beacon_path(beacon), class:'btn btn-primary'%></td>
          <td><%= link_to 'Destroy', beacon, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>