<div class="col-md-8 col-sm-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Beacon "<%= @beacon.name%>"</h2>
		</div>
		<div class="panel-body">
			<h4>Descripci칩n</h4>
			<p><%= @beacon.description %></p>
			<div class="col-md-6">
				<h5>Major Region <%= @beacon.major_id %> descripci칩n</h5>
				<p><%= MajorRegion.find(@beacon.major_id).description %></p>
			</div>
			<div class="col-md-6">
				<h5>Minor Region <%= @beacon.minor_id %> descripci칩n</h5>
				<p><%= MinorRegion.find(@beacon.minor_id).description %></p>
			</div>
		</div>
	</div>
	<%= link_to 'Editar', edit_beacon_path(@beacon) , class:'btn btn-primary'%> |
	<%= link_to 'Atr치s', beacons_path , class:'btn btn-warning'%>
</div>