<div class="col-md-8 col-sm-8">
  <p id="notice"><%= notice %></p>

  <h1>Listing Minor Regions</h1>

  <table id="datatable" class="table table-striped">
    <thead>
      <tr>
        <td>Minor_id</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @minor_regions.each do |minor_region| %>
        <tr>
          <td><%= minor_region.minor_id%></td>
          <td><%= link_to 'Show', minor_region ,class:'btn btn-default'%></td>
          <td><%= link_to 'Edit', edit_minor_region_path(minor_region), class:'btn btn-primary'%></td>
          <td><%= link_to 'Destroy', minor_region, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Minor region', new_minor_region_path, class: 'btn btn-primary' %>
</div>