<%= form_for(@major_region) do |f| %>
  <% if @major_region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@major_region.errors.count, "error") %> prohibited this major_region from being saved:</h2>

      <ul>
      <% @major_region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :major_id %>
    <%= f.text_field :major_id, autofocus: true, class:'form-control input-medium' %>

    <br></br>

    <%= f.label :Description %>
    <%= f.text_area :description, autofocus: true, class:'form-control input-medium', rows:3 %>
  </div>
  <br></br>

  <div class="actions">
    <%= f.submit "Submit", class:'btn btn-primary'%>
  </div>
<% end %>
