<p id="notice"><%= notice %></p>

<h1>Listing Major Regions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @major_regions.each do |major_region| %>
      <tr>
        <td><%= link_to 'Show', major_region %></td>
        <td><%= link_to 'Edit', edit_major_region_path(major_region) %></td>
        <td><%= link_to 'Destroy', major_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Major region', new_major_region_path %>
