<div class="col-md-8 col-sm-8">
	<h2>Major region <%= @major_region.major_id %></h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Descripci칩n</h3>
		</div>
		<div class="panel-body">
			<p><%= @major_region.description %></p>
			<h4>Due침o: <%= User.find(@major_region.user_id).email %></h4>
		</div>
	</div>
	<% if current_user.id == @major_region.user_id %>
		<%= link_to 'Eliminar', @major_region, method: :delete, data: { confirm: 'Est치 seguro?' },class:'btn btn-danger' %>
		<%= link_to 'Editar', edit_major_region_path(@major_region) ,class:'btn btn-primary'%> |
	<% end %>
	<%= link_to 'Atr치s', major_regions_path , class:'btn btn-warning'%>
</div>